<!-- Dungeon Crawl Classics: Tabbed Character Sheet -->
<!-- Version 1.4 -->

<div class="sheet-overall-wrapper">

  <div class="sheet-row">
    <div class="sheet-col-1-1 sheet-margin-top sheet-center"><img src="http://i.imgur.com/HBgERqb.png" alt="Dungeon Crawl Classics Character Record Sheet"></div>
  </div>

  <%= render partial: "header", indent: 2 %>

  <!-- 3 way toggle - STYLE 2 -->
  <input type="radio" name="attr_maintab" class="sheet-maintab sheet-zero" value="1" title="0-level" checked="checked">
  <span class="sheet-maintab sheet-zero">0-level</span>
  <input type="radio" name="attr_maintab" class="sheet-maintab sheet-player" value="2" title="1+ level">
  <span class="sheet-maintab sheet-player">1+ level</span>
  <input type="radio" name="attr_maintab" class="sheet-maintab sheet-monster" value="4" title="NPC/Monster">
  <span class="sheet-maintab sheet-monster">NPC/Monster</span>

  <%= render partial: "tabs/level1", indent: 2 %>
  <%= render partial: "tabs/level0", indent: 2 %>
  <%= render partial: "tabs/monster", indent: 2 %>

</div>

<%= render partial: "roll_templates/index" %>

<%= render partial: "workers" %>
